{% extends '::base.html.twig' %}

{% form_theme form _self %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        <label class="radio inline" for="{{ child.vars.id }}">
            {{ form_widget(child) }}
            {{ child.vars.label|trans({}, translation_domain) }}
        </label>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block content %}
<form action="{{ path('frontend_drink_select') }}" method="post" class="well form-horizontal">

    {{ form_errors(form) }}

    <div class="control-group">
        <label class="control-label">{{ 'Sélectionne ta boisson' }}</label>
        <div class="controls">
            {{ form_widget(form.drink_id, { 'attr': { 'class': 'inline' } }) }}
        </div>
    </div>

    {{ form_rest(form) }}

    <button type="submit" name="selection[payment]" value="now" class="btn btn-primary">Je paye maintenant</button>
    <button type="submit" name="selection[payment]" value="later" class="btn">Je paye plus tard</button>
</form>
{% endblock %}
