{% extends '::base.html.twig' %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h3>Stock de boissons</h3>

        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prix de vente</th>
                <th>Prix d'achat (en pack)</th>
            </tr>
            </thead>
            <tbody>
            {% for drink in drinks %}
            <tr>
                <td>
                    {{ drink.name }}
                    <span class="badge badge-{% if drink.quantity <= 0 %}important{% elseif drink.quantity <= 2%}warning{% else %}success{% endif %}">{{ drink.quantity }}</span>
                </td>
                <td>{{ drink.formattedSalePrice }}</td>
                <td>{{ drink.formattedPurchasePrice }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">On n'a plus de boisson !</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{#
<div class="row-fluid">
    <div class="span12">
        <a href="{{ path('frontend_stock_update') }}" class="btn btn-primary">Refaire le stock</a>
    </div>
</div>
#}

{% endblock %}
