{% extends 'layout.html.twig' %}

{% form_theme form _self %}

{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    <label class="input-prepend" for="{{ form.vars.id }}">
        <span class="add-on">€</span><input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {{ label|trans({}, translation_domain) }}
    </label>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h3>{{ 'Mon solde' }}</h3>

        <div class="well">
            <p>{{ 'Solde : '~user.formattedBalance~'€' }}</p>

            {% if user.balance < 0 %}
                <form action="{{ path('user_repay') }}" method="post" class="form-horizontal">
                    <div class="control-group">
                        {{ form_widget(form.amount, { 'attr': { 'class': 'span4' } }) }}
                    </div>

                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-primary">Payer</button>
                    <a href="{{ path('user_repay_all')}}" class="btn btn-primary">Tout rembourser</a>
                </form>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}
