{% extends 'layout.html.twig' %}

{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h3>{{ 'Mon mot de passe' }}</h3>

        <form action="{{ path('user_password') }}" method="post" class="well form-horizontal">
            <div class="control-group">
              {{ form_label(form.password, 'Nouveau mot de passe', { 'label_attr': { 'class': 'control-label' }} ) }}
              <div class="controls">
                {{ form_widget(form.password) }}
              </div>
            </div>

            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>

    </div>
</div>
{% endblock %}
